
/*estilos header*/

header {
    display: flex;
    align-items: center;

    img {
        width: 25%;
        height: 100%;
    }

    nav {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 1.5rem;
        padding-right: 0px;

        li {
            a {
                color: aliceblue;
                font-size: 20px;
                text-decoration: none;
        }
        }
    }
    }
}

.contenedor-h4 {
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
}

h4 {
    background-color: $color-secundario;
    font-size: 20px;
    color: whitesmoke;
    padding-bottom: 2px;
    padding-top: 1px;
}