
/* estilos de main */
.imagenes-moviles {
    padding-top: 0px;
}

.seccion-informacion {
    background-color: #D67000;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px;
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    display: flex;
    justify-content: center;
    gap: 7rem;
}

.container-promo {
    display: flex;
}

h3 {
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-weight: bold;
}

.auto {
    width: 50px;
    height: 50px;
    color: #ECDFCC;
    padding-right: 10px;
}

.tarjeta {
    width: 50px;
    height: 50px;
    color: #ECDFCC;
    padding-right: 10px;
}

.carro-promo {
    width: 50px;
    height: 50px;
    color: #ECDFCC;
    padding-right: 10px;
}

.productos {
    text-align: center;
    color: aliceblue;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 50px 100px;
}

.imagenes-home {
    border-radius: 4%;
    transition-duration: 700ms;

    &:hover {
        scale: 1.1;
        background-color: #fd9c4c;
        box-shadow: 0 0 10px #fd9c4c;
    }
}

h1 {
    display: flex;
    padding-left: 35px;
    color: whitesmoke;
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* estilos de parrafos */
p {
    color: whitesmoke;
    padding: 10px 0 20px 0px;
    margin: auto;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
}

  /* estilos de contacto */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;

    input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #000;
        background-color: transparent;
        color: #fff;
    }
}

.seccion {
    background-color: rgb(29, 29, 29);
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 8px;
}

/* etilos de iphones */
.h1-celulares {
    padding-bottom: 50px;
}

.iphones {
    color: aliceblue;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: auto;
    row-gap: 1.5rem;
}

.card-img-top {
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    transition-duration: 700ms;

    &:hover {
        background-color: #000000;
        box-shadow: 0 0 10px #fd9c4c;
    }
}

.card {
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
    transition-duration: 700ms;
    background-color: #121212;
    transition-duration: 700ms;
    background-color: #000000;
    margin: auto;

    &:hover {
        background-color: #000000;
        box-shadow: 0 0 10px #fd9c4c;
    }
}

.card-body {
    border-radius: 4%;
    background-color: #FD8902;
}

.card-title {
    transition: none;
    box-shadow: none;
    text-decoration: none;
    color: #ffffff;
}

.btn.btn-primary {
    background-color: #898989;
    border-color: #000000;
    color: #000000;

    &:hover {
        transition-duration: 700ms;
        background-color: #ECDFCC;
        box-shadow: 0 0 10px #fcfcfc;
    }
}

/* estilos de accsesorios */
.h1-accesorios {
    padding-bottom: 50px;
}

.accsesorios {
    color: aliceblue;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin: auto;
    row-gap: 1.5rem;
}

.card-img-top {
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    transition-duration: 700ms;

    &:hover {
        background-color: #000000;
        box-shadow: 0 0 10px #fd9c4c;
    }
}

/* estilos de plan canje */
.formulario-canje {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    background-color: rgb(29, 29, 29);

    input {
        padding: 10px;
        border: none;
        border-bottom: 1px solid #000;
        background-color: transparent;
        color: #fff;
    }
}

h2 {
    color: whitesmoke;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
}