
/*mq tablet*/

@media screen and (max-width: 834px) {
    header {
        img {
            width: 30%;
            height: 30%;
    }

    nav {
        ul {
            padding: 60px 0px 0 0;

            li {
                a {
                font-size: 18px;
                gap: 0.1rem;
                }
            }
        }
}
}

    .carro-compra {
        color: #FD8902;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 900px;
        top: 120px;
    }

    .usuario {
        color: #FD8902;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 850px;
        top: 120px;
    }

    .seccion-informacion {
        background-color: #D67000;
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 30px;
        padding-top: 30px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .auto {
        width: 40px;
        height: 40px;
        color: #ECDFCC;
        padding-top: 10px;
    }

    .tarjeta {
        width: 40px;
        height: 40px;
        color: #ECDFCC;
        padding-top: 10px;
    }

    .carro-promo {
        width: 40px;
        height: 40px;
        color: #ECDFCC;
    }

    .productos {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 50px;
    }

    .iphones {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 50px;
    }

    .accsesorios {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 50px;
        }

    .container-fluid {
        padding: 100px 0px 0 0;
    }

    .formulario-canje {
        padding: 15px;
    }
}

/* estilos de celular */

@media screen and (max-width: 500px) {
    body {
        background-color: #000000;
        width: 100%;
        overflow-x: hidden !important;
    }

    header {
        img {
            width: 70%;
            height: 70%;
            display: flex;
            padding-right: 0px;
    }

    nav {
        ul {
            display: none;
        }
    }
}

    a {
        text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 2px;
        width: 0px;
        background-color: rgb(9, 125, 138);
        transition: width 0.5s ease;
        display: none;
    }
}

    .navbar.navbar-expand-lg.bg-body-tertiary {
        padding: 0px;
        align-items: end;
        display: block;
    }

    .container-fluid {
        display: none;
        padding: 0;
        background-color: #FD8902;
        align-items: end;
    }

    a.nav-link.active {
        padding: 0.3px;
    }

    ul.navbar-nav {
        padding: 0;
        gap: 0;
    }

    button.navbar-toggler-icon {
        background-color: #FD8902;
        padding: 15px;
        display: block;
    }

    .imagenes-moviles {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .form-control-me-2-barra {
        max-width: 200px;
        display: none;
    }

    .btn-outline-success {
        display: none;
    }

    /* estlos de seccion informacion */
    .seccion-informacion {
        background-color: #D67000;
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 20px;
        padding-top: 20px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        display: flex;
        justify-content: center;
        gap: 1.5rem;

    h3 {
            font-size: 10px;
    }

    .auto {
            width: 15px;
            height: 10px;
            color: #ECDFCC;
            padding: 0;
            margin-top: 11px;
    }

    .tarjeta {
            width: 15px;
            height: 10px;
            color: #ECDFCC;
            padding: 0;
            margin-top: 11px;
    }

    .carro-promo {
            width: 15px;
            height: 10px;
            color: #ECDFCC;
            padding: 0;
            margin-top: 10px;
        }
    }

footer {
    ul {
        gap: 0.5rem;
        font-size: 12px;
    }
}

/* estilos de las otras paginas */

.productos {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 50px;
}

.iphones {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 50px;
}

.accsesorios {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 50px;
}

.formulario-canje {
    padding: 15px;
}

p {
    font-size: 15px;
}

    .carro-compra {
        color: #FD8902;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 900px;
        top: 120px;
        display: none;
    }

.usuario {
    color: #FD8902;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 850px;
    top: 120px;
    display: none;
    }
}