
/*estilos nav*/

.navbar.navbar-expand-lg.bg-body-tertiary {
    padding: 0px;
    align-items: end;
    display: none;
}

button.navbar-toggler.collapsed {
    padding-left: 0px;
    align-items: end;
    display: none;
}

span.navbar-toggler-icon {
    background-color: tomato;
    padding-left: 0px;
    align-items: end;
    display: none;
}

/* estilos de barra de navegación */
.container-fluid {
    display: flex;
    justify-content: center;
    padding: 105px 0px 50px 80px;
    background-color: #000000;
}

.form-control-me-2-barra {
    width: 400px;
    background-color: #000000;
    border: none;
    border: solid 1px whitesmoke;
}

/* estilos de boton de busqueda */
.btn-outline-success {
    color: #fff;
    background-color: #FD8902;
    border-color: #FD8902;
    --bs-btn-hover-bg: #696565;
    --bs-btn-hover-border-color: #ffffff;
}

/* estilo de  iconos de usuario y carro de compra */
.carro-compra {
    color: #FD8902;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1250px;
    top: 160px;
}

.usuario {
    color: #FD8902;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 1200px;
    top: 159px;
}

/* estilo de enlaces */
.enlace-ul {
    text-decoration: none;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        height: 2px;
        width: 0px;
        background-color: #FD8902;
        transition: width 0.5s ease;
    }

    &:hover::after {
        width: 100%;
    }
}